* {
	direction: rtl;
}

.body-content {
	width:100%;
	min-height:100vh;
	max-width:100%;
	max-height:1280px;
    padding-left: 15px;
    padding-right: 15px;
	background-image:url('/Content/Images/background1920x1280.jpg');
	background-repeat:no-repeat;
}

.container{
	margin-right:0px;
}



.header-icon-container{
	padding:5px;
	color: #fff;
	font-weight:500;
	text-shadow:0px 0px 5px #333;
	margin-top:1px !important;
	float:right;
	cursor:pointer;
	
}
.header-icon-container .popover-content
{
	color:black;
}

.header-icon-container > span
{
	text-decoration:none;
}

.icon{
	padding:5px;
	margin:5px;
	border-radius: 3px;
}

.dl-horizontal dt {
    white-space: normal;
}

.main-headline {
	font-size:medium;
	color: #fff;
	font-weight:300;
	text-shadow:0px 0px 5px #333;
	text-align:center;
	margin-top: 155px;
}

.main-headline > a {
	text-decoration: none !important;
}

.main-headline > h1{
	font-size:70px;
	color: #fff;
	font-weight:300;
	text-shadow:0px 0px 5px #333;
}

.main-headline > h2{
	font-size:35px;
	color: #fff;
	font-weight:300;
	text-shadow:0px 0px 5px #333;
}

.border-top{
	border-top:2px solid #fff;
	margin-top: 5px;
	text-align:center;
	margin-right:40%;
	margin-left:40%;
	margin-bottom:50px;
}

input,
select,
textarea {
    max-width: 280px;
}

footer {
	padding-left:25px;
	padding-top:30px;
	padding-bottom:50px;
	width:100%;
	text-align:center;
	background-size: 100% 100%;
	color: wheat;
	font-weight:200;
	line-height: 1em;
	background-color:black;
}

#main-page-carousel {
	margin-left:30%;
	margin-right:30%;
	margin-top: 20px;
	max-width: 40%;
	max-height: 40%;
}

.catalog-gallery {
  position:relative;
  right:10px;
  margin-top:70px;
  width: 90%;
  max-width:95%;
  float: right;
}
.catalog-gallery img {
  width: 100%;
  height: auto;
}
.catalog-gallery figure {
  display: block;
  float: right;
  margin: 0 5px 5px 0;
  width: 150px;
}
.catalog-gallery figcaption {
  display: none;
}

article{
	font-size:18px;
	color: #fff;
	font-weight:200;
	text-shadow:0px 0px 2px #333;
}