* {
	direction: rtl;
}

.body-content {
	width:100%;
	min-height:1024px;
	max-width:100%;
	max-height:1280px;
    padding-left: 15px;
    padding-right: 15px;
	background-image:url('../Images/background1920x1280.jpg');
	background-repeat:no-repeat;
}

.header-icon-container{
	padding:5px;
	color: #fff;
	font-weight:500;
	text-shadow:0px 0px 5px #333;
	margin-top:1px !important;
	position:fixed;
}

.icon{
	padding:5px;
	margin:5px;
	border-radius: 3px;
}

.dl-horizontal dt {
    white-space: normal;
}

.main-headline {
	font-size:medium;
	color: #fff;
	font-weight:300;
	text-shadow:0px 0px 5px #333;
	text-align:center;
	margin-top: 75px;
}

.main-headline > h1{
	font-size:70px;
	color: #fff;
	font-weight:300;
	text-shadow:0px 0px 5px #333;
}

.main-headline > h2{
	font-size:35px;
	color: #fff;
	font-weight:300;
	text-shadow:0px 0px 5px #333;
}

input,
select,
textarea {
    max-width: 280px;
}

.footer {
	padding-left:25px;
	margin-top:50px;
	width:100%;
	height:150px;
	min-height:150px;
	text-align:left;
	background-size: 100% 100%;
	color: #808080;
	text-shadow:0px 0px 1px #fff;
	font-weight:400;
	line-height: 1.5em;
	background-color:rgba(255,255,255,0.0) !important;
}