@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>משהו לא צפוי קרה...</title>
</head>
<body>
    <hgroup>
        <h1>יש בעיה באתר..</h1>
        <h2>ניסיתי לבצע משהו ולא הצלחתי.. אנא צרו קשר איתנו וספרו מה קרה</h2>
    </hgroup>
</body>
</html>
